body {
  font-family: Arial, sans-serif;
  margin: ;
  padding: ;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #007bff;
  padding: px px;
  position: fixed;
  top: ;
  max-width: 100%; /* Testez avec une valeur plus raisonnable */
  height: 25%;
  z-index: 200;
  border-radius: 50px;
  border: 5px solid #007bff;
  box-shadow: 3px 3px 3px 3px #0072c6;
}

.navbar .logo {
  display: flex;
}

.navbar img {
  height: 150px;
  width: 150px;
  padding-left: 10%;
}

.opening-hours {
  margin-right: 20px;
  font-size: 14px;
  margin-top: 20px;
}

.menu {
  display: flex; 
  justify-content: space-around;
  background-color: white;
  padding: 10px ;
  border-radius: 5px;
  box-shadow:  2px 5px rgba(, , , .1);
}

.menu-item {
  position: relative;
  color: blue;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

.menu-item a {
  color: #007bff;
  text-decoration: none;
}

.sub-list {
  display: none;
  position: absolute;
  background-color: #d2d1d1;
  box-shadow:  2px 5px #007bff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.menu-item:hover .sub-list {
  display: block; 
}

.sub-item {
  padding: 5px 10px;
  color: #007bff;
  text-decoration: none; 
  display: block; 
}

.sub-item:hover {
  background-color: #e9ecef; 
}

.slider {
  margin-top: 10%;
